<div class="prev-next-page">
	{{prev_page_btn}}
	{{next_page_btn}}
</div>
<footer>
	<hr>
	<p>
		{{copyright_info}}
		{{build_info}}
	</p>
</footer>
<script src="$BASE_URL/resources/scripts/code.js"></script>
<script src="$BASE_URL/resources/scripts/documentation.js"></script>